.primary-color-1 {
    color: #ffebd8 !important;
}

.primary-color-background-1 {
    background-color: #ffebd8 !important;
}

.button.primary-color-background-1 {
    color: #000 !important;
}

.primary-color-2 {
    color: #fd294f !important;
}

.primary-color-background-2 {
    background-color: #fd294f !important;
}

.button.primary-color-background-2 {
    color: #fff !important;
}

.primary-color-3 {
    color: #160afe !important;
}

.primary-color-background-3 {
    background-color: #160afe !important;
}

.button.primary-color-background-3 {
    color: #fff !important;
}

.primary-color-4 {
    color: #01022a !important;
}

.primary-color-background-4 {
    background-color: #01022a !important;
}
