.primary-color-1 {
    color: #fff !important;
}

.primary-color-background-1 {
    background-color: #fff !important;
}

.button.primary-color-background-2 {
    color: #000 !important;
}

.primary-color-2 {
    color: #00AAE9 !important;
}

.primary-color-background-2 {
    background-color: #00AAE9 !important;
}

.button.primary-color-background-2 {
    color: #fff !important;
}

.primary-color-3 {
    color: #751de7 !important;
}

.primary-color-background-3 {
    background-color: #751de7 !important;
}

.button.primary-color-background-3 {
    color: #fff !important;
}

.primary-color-4 {
    color: #002B3A !important;
}

.primary-color-background-4 {
    background-color: #002B3A !important;
}
