.primary-color-1 {
    color: #06b9ec !important;
}

.primary-color-background-1 {
    background-color: #06b9ec !important;
}

.button.primary-color-background-1 {
    color: #fff !important;
}

.primary-color-2 {
    color: #b239ff !important;
}

.primary-color-background-2 {
    background-color: #b239ff !important;
}

.button.primary-color-background-2 {
    color: #fff !important;
}

.primary-color-3 {
    color: #6800e7 !important;
}

.primary-color-background-3 {
    background-color: #6800e7 !important;
}

.button.primary-color-background-3 {
    color: #fff !important;
}

.primary-color-4 {
    color: #100e23 !important;
}

.primary-color-background-4 {
    background-color: #100e23 !important;
}
